.photosContainer {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 2px;

    .smallPhotosPicker {
        display: flex;
        flex-direction: column;

        .smallPhoto {
            width: 100px;
            cursor: pointer;
            border: 1px solid black
        }
    }

    .mainPhoto {
        width: 100%;
    }
}