<label for="offers">Ofertas</label>
<input name="offers" type="checkbox" (ngModelChange)="filterOffers($event)" [ngModel]="offersActive" value="true" />
<ul>
    <li *ngFor="let item of filteredItems | filterByPage: currentPage: 5: filteredItems.length">
        <div class="listItem">
            <img [src]="item.photos[0]" />
            <div class="title">{{item.title}}</div>
            <div class="actionsContainer">
                <button (click)="navigateToDetail(item.id)">Ver más</button>
            </div>
        </div>
    </li>
</ul>
<paginator *ngIf="filteredItems.length > 0" [totalItems]="filteredItems.length" (pageChanged)="changePage($event)" />